DiggerMan/Assets/*
DiggerMan/Debug/*
DiggerMan/irrKlang/*
DiggerMan/.DS_Store
DiggerMan/DiggerMan.vcxproj
DiggerMan/DiggerMan.vcxproj.filters
DiggerMan/DiggerMan.vcxproj.user
DiggerMan/freeglut.*
DiggerMan/freeglut_ext.h
DiggerMan/freeglut_std.h
DiggerMan/GameConstants.h
DiggerMan/GameController.*
DiggerMan/GameWorld.*
DiggerMan/GraphObject.h
DiggerMan/irrKlang.lib
DiggerMan/main.cpp
DiggerMan/SoundFX.h
DiggerMan/SpriteManager.h

Debug/*
Diggerman.opensdf
DiggerMan.sdf
DiggerMan.sln
.DS_Store
.vs/*
